@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {}

:root {
    --main-color: #0065FC;
    --filter-bg-color: #DEEBFF;
    --secondary-bg-color: #F2F2F2;
    --anonymous-color: #D9D9D9;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.main-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    padding: 0 48px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo {
    padding: 30px 0;
}

nav,
nav ul,
nav ul li {
    display: flex;


}

nav ul {
    list-style: none;
    gap: 64px;

}
.header-link {
    align-items: flex-start;
    border-top: 2px transparent solid;
}

.header-link:hover {
    border-top: 2px #0065FC solid;
}

.header-link-item {
    height: 100%;
    padding-top: 16px;
    color: #000;
    text-decoration: none;
}

.header-link-item:hover {
    color: #0065FC;   
}
