@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {}

:root {
    --main-color: #0065FC;
    --filter-bg-color: #DEEBFF;
    --secondary-bg-color: #F2F2F2;
    --anonymous-color: #D9D9D9;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.main-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    padding: 0 48px;
}

