@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {}

:root {
    --main-color: #0065FC;
    --filter-bg-color: #DEEBFF;
    --main-bg-color: #FFF;
    --secondary-bg-color: #F2F2F2;
    --anonymous-color: #D9D9D9;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: #000;

}

.main-container {
    max-width: 1440px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 48px;
}

section {
    margin-bottom: 36px;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

nav,
nav ul,
nav ul li {
    display: flex;
}

ul {
    list-style: none;
    gap: 64px;

}

h1 {
    font-size: 22px;

}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #000;
}

.fa-solid {
    color: var(--main-color);
}

/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo {
    padding: 30px 0;
}

.header-link {
    border-top: 2px transparent solid;
}

.header-link:hover {
    border-top: 2px var(--main-color) solid;
}

.header-link-item {
    height: 100%;
    padding-top: 16px;

}

.header-link-item:hover {
    color: var(--main-color);
}

/*Section Info Group*/
/*Header*/
.info-group,
.info-group-header {
    display: flex;
    flex-direction: column;
    gap: 36px
}

.info-group-header {
    gap: 8px;
}


/*Search bar*/
.search-bar {
    display: flex;
    align-items: center;
    width: 377px;
    height: 49px;
}

.search-bar * {
    padding: 16px;
    font-weight: 700;
}

.search-bar i {
    color: #000;
    background-color: var(--secondary-bg-color);
    line-height: unset;
    border: 1px solid var(--secondary-bg-color, #F2F2F2);
    border-right: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px
}

.search-bar input {
    border: 1px solid var(--secondary-bg-color, #F2F2F2);
    border-left: none;
    border-right: none;
    border-radius: unset;
    width: 100%;
    height: 100%;
}

.search-bar input:focus {
    outline: none;

}

.search-bar-button {
    color: var(--main-bg-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 100%;
    height: 100%;
}

.search-bar-button i {
    display: none;
}

/*Filter bar*/
.filter-info-bar,
.filter-item-container,
.filter-item {
    display: flex;
    align-items: center;
}

.filter-info-bar,
.filter-item-container {
    gap: 15px;
}

.filter-item {
    height: 42px;
    gap: 10px;
    padding: 4px 19px 4px 19px;
    border: 2px solid var(--anonymous-color);
    border-radius: 32px;
}

.filter-item:hover {
    background-color: var(--filter-bg-color);
}

.filter-item i:before {
    font-size: 22px;
}

.filter-item input {
    display: none;
}

.filter-item label {
    font-size: 17px;
    font-weight: 700;
}

/*Info bar*/
.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-bar i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border: 1px solid var(--anonymous-color);
    border-radius: 50%;
}

.info-bar i:before {
    font-size: 10px;
}

/*Offers*/
.offers {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.offers section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--secondary-bg-color);
    border-radius: 16px;
    gap: 30px;
    padding: 30px;
}

.offers-accommodation,
.offers-sponsorised {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card {
    background-color: var(--main-bg-color);
    border-radius: 24px;
}

.card-body {
    display: flex;
}

.card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-icons {
    display: flex;
    gap: 1px;
}

.fa-star:last-child {
    color: var(--secondary-bg-color);
}

.fa-star:before {
    font-size: 14px;
}


/*Section Offers Accomodation*/
.offers-accommodation-container {
    width: 811px;

}

.offers-accommodation {
    flex-wrap: wrap;
}

.card-accommodation {
    width: 250px;
    height: auto;
}



.card-accommodation .card-link {
    color: #333;
    text-decoration: none;
}

.card-accommodation .card-body {
    flex-direction: column;
    margin-bottom: 15px;
    gap: 4px;
}

.card-accommodation .card-img {
    height: 124px;
    padding: 5px;
}

.card-accommodation img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.card-accommodation .card-content {
    padding: 0 15px;
    gap: 8px;

}

.card-accommodation header {
    gap: 8px;
}

/*Button more*/
.more-btn {
    font-weight: 700;
    border: none;
    align-self: flex-start;
    cursor: pointer;
}








/*Section Offers Sponsorised*/
.offers-sponsorised-container {
    width: 369px;
}

.offers-sponsorised-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offers-sponsorised {
    flex-direction: column;
}

.card-sponsorised {
    display: flex;
    padding: 5px;
}

.card-sponsorised .card-img {
    height: 144px;
    min-width: 123px;
    width: 123px;
}

.card-sponsorised img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-sponsorised .card-content {
    justify-content: space-between;
    padding: 10px 5px 5px 15px;
}

.card-sponsorised header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}




/*Section Activities*/


/*Footer*/